<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <select matNativeControl required [(ngModel)]="selectedCategery" (ngModelChange)="dataChanged($event)">
    <option value="{{item}}" *ngFor="let item of list">{{item}}</option>
</select>
<br>
<br>
<br>
<select matNativeControl required [(ngModel)]="selectedCat" (ngModelChange)="catDescription($event)">
    <option *ngFor="let item of selectedList">{{item}}</option>
</select>
<br>
<br>
<br>
<textarea [(ngModel)]="description"></textarea>
</ion-content>
